{% extends 'base.html.twig' %}

{% block title %}Novo Ano Lectivo{% endblock %}

{% block body %}
    <h3>Criar Novo Ano Lectivo</h3>
<div class="col-md-10">

    {{ include('ano_lectivo/_form.html.twig') }}

</div>

{% endblock %}
