{% extends 'base.html.twig' %}

{% block title %}Nova DisciplinaProfessor-Turma{% endblock %}

{% block body %}
    <h3>Criar Nova Disciplina Professor-Turma</h3>
<div class="col-md-9">

    {{ include('disciplina_professore_turma/_form.html.twig') }}
</div>


{% endblock %}
