{% extends 'base.html.twig' %}

{% block title %}Nova Matrícula{% endblock %}

{% block body %}
    <h3>Nova Matrícula</h3>
<div class="col-md-9">

    {{ include('Matricula/_form.html.twig') }}

    </div>
{% endblock %}


