<form method="post" action="{{ path('disciplina_condicionante_delete', {'id': disciplina_condicionante.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disciplina_condicionante.id) }}">
    <button class="btn">Delete</button>
</form>
