{% extends 'base.html.twig' %}

{% block title %}Editar Ano Academico{% endblock %}

{% block body %}
    <h3>Editar Ano Academico</h3>

    {{ include('ano_academico/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
