{% extends 'base.html.twig' %}

{% block title %}Nova Disciplina{% endblock %}

{% block body %}
    <h3>Criar Nova Disciplina</h3>

<div class="col-md-10">

{{ include('dicsiplina/_form.html.twig') }}
</div>

{% endblock %}
