{% extends 'base.html.twig' %}

{% block title %}Nova Turma{% endblock %}

{% block body %}
    <h3>Criar Nova Turma</h3>


<div class="col-md-10">

    {{ include('turma/_form.html.twig') }}

</div>

{% endblock %}
