{% extends 'base.html.twig' %}

{% block title %}Novo Estudante{% endblock %}

{% block body %}
    <h3>Novo Estudante</h3>
<div class="col-md-10">

    {{ include('Estudantes/_form.html.twig') }}

</div>
{% endblock %}
