{% extends 'base.html.twig' %}

{% block title %}Novo Curso{% endblock %}

{% block body %}
    <h3>Criar Novo Curso</h3>

    <div class="col-md-10">

        {{ include('curso/_form.html.twig') }}

    </div>
{% endblock %}
