{% extends 'base.html.twig' %}

{% block title %}Novo Usuário{% endblock %}

{% block body %}
    <h3>Criar Novo Usuário</h3>
<div class="col-md-10">

    {{ include('user/_form.html.twig') }}

</div>
{% endblock %}



